.list-item {
  display: flex;
  align-items: flex-end;
  position: relative;
  padding-left: 24px;
  margin-bottom: 8px;
  cursor: pointer;
  & > h3 {
    display: block;
    text-align: center;
    width: 100%;
    font-weight: bold;
  }

  .label {
    display: inline-block;
    position: relative;
    width: 115px;
    font-size: 14px;
    line-height: 18px;
    color: #000;

    .active-img {
      position: absolute;
      left: -24px;
      top: 50%;
      margin-top: -9px;
      width: 14px;
      height: 18px;
      background: url('//gw.alicdn.com/tfs/TB1yb6pe.H1gK0jSZSyXXXtlpXa-14-16.png')
        no-repeat left 65%;
    }
  }

  .progress-wrap {
    display: inline-block;
    margin: 0 4px 0 22px;
    flex: 1;

    .index-value {
      margin-bottom: 4px;
    }

    .index-value.active {
      font-weight: bold;
    }

    .progress {
      width: 100%;
      height: 8px;
      background: #f5f7f7;
      position: relative;

      .real-pregress {
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #7ceeff, #188fff);
      }

      .white-placeholds {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 calc(5% - 1px);

        .spans-wrap {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-around;
          span {
            background: #fff;
            width: 2px;
          }
        }
      }
    }
  }

  .target-proportion {
    font-size: 12px;
    color: #999999;
    line-height: 1;
    white-space: nowrap;
  }
  .target-proportion.active {
    font-weight: bold;
  }
  .target-card {
    position: absolute;
    top: 22px;
    display: inline-block;
    width: 64px;
    line-height: 1;
    color: #999999;
    font-size: 12px;
  }
}

.list-item-active {
  .label {
    color: #1890ff;
    font-weight: bold;
  }
}

.list-item:last-child {
  margin-bottom: 0;
}
